{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}


{% if user.is_authenticated %}
<div class="text-center">
    <h3>{{ user.username }}</h3>
    <h3><a style="color: rgb(3, 36, 184)" href="{% url 'user:avatar-load' %}">Cambiar Img Perfil</a></h3>
    <img height="160px" src="{{url}}" alt="">
</div>
{% endif %}
<h2>Buscador de reclamos</h2>
<hr>
</hr>

<form action="/search" method="GET">
    <div>
        <input type="text" name="search_param" id="reclamo_code_or_name" placeholder="Buscar.."
        {% if search_param %} value="{{ search_param }}" {% endif %}
        >
        <input type="submit" value="Buscar">
        <a style="color: blue" href="{% url 'home:main' %}"><i class="fa fa-undo"></i></a>
    </div>

</form>

<hr>
</hr>


{% if reclamos %}
<ul>
    {% for reclamo in reclamos %}
    <li>
        Nombre: {{reclamo.nombre}}
        -- Telefono: {{reclamo.telefono}}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}